# /etc/systemd/system/currentyear.service
[Unit]
Description=What year is it?
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/fionn/bots/currentyear/
EnvironmentFile=/home/fionn/bots/currentyear/.env
ExecStart=/home/fionn/bots/currentyear/venv/bin/python3 -u src/currentyear.py
Restart=on-failure
RestartSec=900

DynamicUser=true
PrivateDevices=true
ProtectHostname=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
SystemCallArchitectures=native
LockPersonality=true
MemoryDenyWriteExecute=true
InaccessiblePaths=/dev /boot
RestrictRealtime=true
PrivateMounts=true
MountFlags=private
PrivateUsers=true
UMask=0777
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
